/* 
    Created on : 6. aug. 2021, 08.19.04
    Author     : rasmu
*/

canvas {
    height: 300px;
    width: 300px;
    border: 1px solid black;
}

#tableContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#tableContainer div {
    width: 46%;
    margin: 2%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: fit-content;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}